#categories {
	height: 200px;
}


#category-laptops{
	background-image: url("../../../../images/laptop-category.jpg");
	background-position: center;
	text-align: center;
	width:50%;
}

#category-4ktv{
	background-image: url("../../../../images/tv-category.jpg");
	text-align: center;
	width: 25%;
}

#category-homeaudio{
	background-image: url("../../../../images/home-audio-category.jpg");
	text-align: center;
	width: 25%;
}

#category-tablets{
	background-image: url("../../../../images/tablet-category.jpg");
	text-align: center;
	width: 25%;
}

#category-desktop{
	background-image: url("../../../../images/desktop-category.jpg");
	text-align: center;
	width: 25%;
}

#category-womens{
	background-image: url("../../../../cell-category.jpg");
}