.font-family-monotype{
	font-family: 'Roboto Mono', Courier, serif;
	font-weight: 100;
	letter-spacing: 4px;
	}

.font-family-sans-serif{
	font-family: Roboto;
}

.text-white{
	color: #FFF;
}

.text-black{
	color: black;
}

.text-red{
	color: red;
}

.text-green{
	color: #338e23;
}

.text-silver{
	color: #c3c3c3;
}

.text-center{
	text-align: center;
}

.text-bold{
	font-weight: bold;
}

.text-italic{
	font-style: italic;
}

.no-italic{
	font-style: normal;
}

.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.capitalize{
	text-transform: capitalize;
}

.small-font{
	font-size:0.75rem;
}

.line-height-125-percent{
	line-height: 125%
}

.line-height-180-percent{
	line-height: 180%
}

.line-height-200-percent{
	line-height: 200%
}

.line-height-300-percent{
	line-height: 300%
}

p{
	font-family: Roboto;
	font-size: 1rem;
}

h1 {
	font-weight: bolder;
	font-size: 3rem;
	letter-spacing: 3px;
	color: #FFF;
	padding-bottom: 8px;
	font:'Roboto Black';
}

h2 {
	font-size: 2rem;
}

h4{
	font-size: 1.5rem;
	font-weight: 200;
}

h5 {	
	letter-spacing: 4px;
}

a {
	text-decoration: none;
	color: #FFF;	
}

a:hover {
	color: #338e23;
}
a:active {
	color: dimgrey;
}