#logo {
	height: 12%;
	width: 12%;
}

#cart {
	height: 5%;
	width: 5%;
	position: relative;
}

#counter {
	width: 2em;
	height: 2em;
	background-color: #ea5038;
	border-radius: 50%;
	border: none;
	position: absolute;
	top:21%;
	right:21%;
}