@media (max-width: 1050px){

.width-30{
	width: 46%;
}

.width-25{
	width: 100%;
	clear: both;
	display:block;
	margin:auto;
	text-align: center;
	padding-left:0;
	padding-right: 0;
}

.backgroundimagefix{
	background-position: center;
}

.margin-left-2em{
	margin-left: 0;
}

#CTA{
	width: 80%;
}

#banner {
	clear: both;
	min-height: 80vh;
	position: relative;
	}

#banner-text {
	position: absolute;
	left: 50%;
	width: 80%;
	top: 45%;
	margin-left:-40%;
	min-height: 30%;
	display: block;
	font-size: 1.5rem;
}

.margin-top-bottom-7vh{
	margin: 3vh 0;
}

}

/* ------------ */

@media (max-width: 425px){

h1{
	letter-spacing: normal;
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

.banner-text{
	font-size: 2rem;
	width: 100%
}


.width-30{
	width: 90%;
}

#CTA{
	width: 90%;
}

#logo{
	height: 20%;
}

#cart{
	height: 12%;
	}}