#productroll{
	margin-bottom: 7vh;
}

#products-title{
	text-align: center;
	padding-bottom: 15vh;
}

#products-title h5{
	font-family: Roboto;
	letter-spacing: initial;
	font-size: 0.75rem;
	font-weight: bolder;
}

.price {
	font-family: Roboto;
	font-size: 1.3rem;
	color: #338e23;
	line-height: 300%;
}
h3{
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 0.8rem;
	font-weight: bolder;
	color: #000;
	line-height: 130%;
	padding: 10 0 10 0;
}

.addToCartButton{
	background-color: #338e23;
	color: #FFF;
	line-height: 300%;
	text-transform: uppercase;
	border: thin solid #338e23;
	font-weight: bolder;
}

.quickViewButton{
	background-color: #FFF;
	line-height: 300%;
	text-transform: uppercase;
	color: #000;
	border: thin solid #338e23;
	font-family: Roboto 1rem;
	font-weight: bolder;
}

.productimage{
	image-size: 20%;
}

.productmake{
	line-height: 300%;
	text-transform: uppercase;
	color: #c3c3c3;
	font-family: Roboto 0.75rem;
	font-weight: bolder;
}