body{
	margin: 0
}

hr{
	color: #c3c3c3;
}

.clearfix:after
 {
	content: " ";
    clear: both;
    display: block;
}

/* Width Rules */

.width-25{
	width: 25%;
}

.width-30{
	width: 30%;
}

.width-40{
	width: 40%;
}

.width-50{
	width: 50%;
}

.width-65{
	width: 65%;
}

.width-100{
	width: 100%;
}

.max-width-100{
	max-width: 100%;
}

/* Background Rules */

.background-image-fix{
	width: 100%;
	background-position: cover;
	clear:both;
	background-repeat: 0;
}

.background-color-dk-grey{
	background-color: #404040;
}

.background-color-green{
	background-color: #338e23;
}

.background-white{
	background-color: #FFF;
}

.background-orangered{
	background-color: #ea5038;
}

/* Position Rules*/

.left{
	float: left;
}

.right{
	float: right;
}

.no-float{
	float: none;
}

.z-index-1{
	z-index: 1;
}

.z-index-2{
	z-index: 2;
}	
	
.padding-none{
	padding: 0;
}

.padding-small{
	padding: 1vh;
}

.padding-medium{
	padding: 2.5vh;
}

.padding-large{
	padding: 5vh;
}

.padding-sides-2em{
	padding: 0 2em;
}

.padding-3sides-no-bottom{
	padding: 2.5vh 2em 0 2em;
}

.padding-top-20px{
	padding-top: 5vh;
}

.padding-bottom-20px{
	padding-bottom: 5vh;
}

.padding-top-7vh{
	padding-top: 7vh;
}

.padding-bottom-7vh{
	padding-bottom: 7vh
}

.margin-large{
	margin: 5vh;
}

.margin-right-4em{
	margin-right: 4em;
}

.margin-left-2em{
	margin-left: 2em;
}

.margin-top-1vh{
	margin-top: 1vh;
}

.margin-top-bottom-7vh{
	margin: 7vh 0;
}

/* Border Rules */
	
.border-radius30{
	border-radius: 30px 30px;
}

.no-border{
	border: none;
}

/* flexbox rules */

.flex{
	display: flex;
}

.flex-around{
	justify-content: space-around;
}

.flex-wrap{
	flex-wrap: wrap;
}

.justify-between{
	justify-content: space-between;
}

.flex-center-xy{
	justify-content: center;
	align-items: center;
}

.align-items-center{
	align-items: center;
}

.row{
	flex-direction: row;
}


#CTA {
	display: block;
	width: 70%;
	margin:auto;
	min-height: 25vh;
}

#CTA p{
	padding-bottom: 10vh;
}
