#subscribe-cta {
	background: #338e23;
	background-position: bottom;
	width: 100%;
	min-height: 45vh;
	margin: 0 auto;
}

#subscribe-text {
	display: block;
	width: 50%;
	margin:auto;
	font-size: 0.75rem;
	letter-spacing: 1.5px;
	font-weight: bolder;
}

#signup {
	margin: 0 auto;
	padding: 1px;
}

#email {
	width: 21em;
}
